<div class= "screen">

	<h2>Update Your Note Below</h2>

	<form id='update' action='/update/<%= @note.id %>' method='post'>
		<input type='text' name="note[title]" value='<%=@note.title%>'><br><br>
		<textarea rows="10" type="text" name="note[content]"><%=@note.content%> </textarea> <br><br>
		<input type='hidden' name='id' value='<%=@note.id%>'>
		<input type='submit' value='Save Changes'>
	</form>
	<br>
	<form id='delete' action="/<%= @note.id %>" method='post'>
		<input type='hidden' name="_method"  value='delete'>
		<input type='submit' value='Delete Note'>
	</form>
	<br>
</div>


