<div class= "screen">

	Title: <%= @note.title %>
	Content: <%= @note.content %>

	<form action='/update/<%= @note.id %>' method='get'>
		<input type='submit' value='Update Note'>
	</form>

	<form id='delete' action='/note/<%= @note.id %>'method='delete'>
		<input type='hidden' name='note.id' value='<%=@note.id%>'>
		<input type='submit' value='Delete Note'>
	</form>
</div>

